h1{
	font-family: arial;
	font-size: 70px;
}

#board{
	max-width: 640px;
	min-width: 320px;
	width: 75%;
	margin: auto;
}
.row{
	width: 100%;
	margin: auto;
	text-align: center;
}

.square{
	width: 33.333333%;
	background-color: #fff;
	padding: 30px 0px;
	box-sizing: border-box;
	float: left;
	font-size: 80px;
	border: 2px solid #000;
	color: #fff;
}

.winning-square{
	background-color: green !important;
	color: red !important;
}