
h1{
	font-family: arial;
	font-size: 70px;
	padding-bottom: 30px;
}

#options{
	background-color: #eeeeee;
	width: 100%;
}

#options button {
	background-color: #ddd;
	width: 200px;
	line-height: 20px;
	font-weight: bold;
	border-radius: 5px;
	margin-top: -0px;
}

#options button:hover {
	background-color: #f3f3f3;
}

#board{
	max-width: 640px;
	min-width: 320px;
	width: 75%;
	margin: auto;
}
.row{
	width: 100%;
	margin: auto;
	text-align: center;
}

.square{
	width: 33.333333%;
	background-color: #fff;
	padding: 30px 0px;
	box-sizing: border-box;
	float: left;
	font-size: 80px;
	border: 2px solid #000;
	height: 180px;
}

.winning-square{
	background-color: green !important;
	color: red !important;
}

.tie-square{
	background-color: #aaa !important;
	color: #999 !important;
	border: 1px solid #999;
}

#chooseGame{
	margin-bottom: -20px;
}

#reset{
	display: none;
}